.rcs-custom-scroll{min-height:0;min-width:0}.rcs-custom-scroll .rcs-outer-container{overflow:hidden}.rcs-custom-scroll .rcs-outer-container .rcs-positioning{position:relative}.rcs-custom-scroll .rcs-outer-container:hover .rcs-custom-scrollbar{opacity:1;transition-duration:0.2s}.rcs-custom-scroll .rcs-inner-container{overflow-x:hidden;overflow-y:scroll;-webkit-overflow-scrolling:touch}.rcs-custom-scroll .rcs-inner-container:after{content:'';position:absolute;top:0;right:0;left:0;height:0;background-image:linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.05) 60%, rgba(0,0,0,0) 100%);pointer-events:none;transition:height 0.1s ease-in;will-change:height}.rcs-custom-scroll .rcs-inner-container.rcs-content-scrolled:after{height:5px;transition:height 0.15s ease-out}.rcs-custom-scroll.rcs-scroll-handle-dragged .rcs-inner-container{user-select:none}.rcs-custom-scroll .rcs-custom-scrollbar{position:absolute;height:100%;width:6px;right:3px;opacity:0;z-index:1;transition:opacity 0.4s ease-out;padding:6px 0;box-sizing:border-box;will-change:opacity;pointer-events:none}.rcs-custom-scroll .rcs-custom-scrollbar.rcs-custom-scrollbar-rtl{right:auto;left:3px}.rcs-custom-scroll.rcs-scroll-handle-dragged .rcs-custom-scrollbar{opacity:1}.rcs-custom-scroll .rcs-custom-scroll-handle{position:absolute;width:100%;top:0}.rcs-custom-scroll .rcs-inner-handle{height:calc(100% - 12px);margin-top:6px;background-color:rgba(78,183,245,0.7);border-radius:3px}
.chat {
    display: flex;
    flex-direction: column;
    flex: 0.75;
    background-color: #363a3f;
    height: 100vh;
}


.chat__input {
    color: lightgray;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 8px;
    margin: 1.2rem;
    background-color: #474b53;
}

.chat__filediv {
    color: lightgray;
    display: flex;
    align-items: center;
    width: max-content;
    justify-content: space-between;
    padding: .5rem 0 .5rem .5rem;
    border-radius: 8px;
    margin: 0 1.2rem 0 1.2rem;
    background-color: rgb(71, 75, 83, 0.5);
}

.chat__input > form {
    flex: 1;
    margin-right: 0.5rem;
}

.chat__inputicons {
    display: flex;
    align-items: center;
}

.chat__inputicons > .MuiSvgIcon-root {
    padding: 5px 10px 5px 10px;
    transition: 0.3s;
}

.chat__inputicons > .MuiSvgIcon-root:hover {
    color: white;
    cursor: pointer;
}

.chat__input > form > input {
    padding: 15px;
    background: transparent;
    border: none;
    width: 100%;
    outline-width: 0;
    color: white;
    font-size: large;
}

.chat__messages {
    flex: 1;
}

.chatheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: gray;
    padding: 10px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 0px 0px rgba(0,0,0,0.75);
}

@media (max-width: 768px) {
    .chatheader {
        flex-direction: column;
    }
    .chat {
        flex: 1 !important;
    }
    .chatheader__sidebarbtn {
        position: absolute;
        color: gray;
        padding: 10px;
        top: 3px;
        display: flex !important;
        align-items: center;
        align-self: flex-start;
    }
    .message__info > img {
        max-width: 50% !important;
        max-height: 50% !important;
    }   
    .ril__caption {
        justify-content: center !important;
    }     
}

.chatheader__sidebarbtn {
    display: none;
}

.chatheader__left > h3 > span{
    color: gray;
    font-size: 30px;
    padding: 10px;
} 

.chatheader__left > h3 {
    display: flex;
    margin-right: 10px;
    align-items: center;
    color: white;
}

.chatheader__left {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatheader__right {
    display: flex;
    align-items: center;
    flex: 0.20;
    justify-content: space-between;
}

.chatheader__right > .MuiSvgIcon-root {
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.chatheader__right > .MuiSvgIcon-root:hover {
    color: white;
}

.chatheader__search {
    display: flex;
    align-items: center;
    color: gray;
    background-color: #2f3135;
    border-radius: 3px;
    padding: 3px;
}

.chatheader__search > input {
    background: transparent;
    outline-width: 0;
    color: white;
    border: none;
    transition: 0.3s;
}

.message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    color: white;
    transition: 0.3s;
}

.message:hover {
    background-color: #31353a;
}

.message__info {
    margin-left: 20px;
    flex: 1
}

.message__info > p {
    padding-top: 2px;
}

.message__info > h4 > .time {
    color: gray;
    margin-left: 20px;
    font-size: x-small;
}

.message__info > h4 > .name {
    transition: 0.3s;
}

.message__info > h4 > .name:hover {
    cursor: pointer;
}

.chat__inputfilebutton {
    transition: 0.3s;
}

.chat__inputfilebutton:hover {
    color: white;
    cursor: pointer;
}

.message__info > img {
    object-fit: contain;
    max-width: 22%;
    max-height: 22%;
    margin-top: 10px;
    transition: 0.3s;
}

.message__info > img:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 12px 2px rgba(0,0,0,0.5);
}

.message__info > a > button,
.message__info > button {
    margin-top: 10px;
    background-color: rgba(78, 78, 78, .65);
    color: white;
    transition: 0.3s;
}

.message__info > a > button:hover, 
.message__info > button:hover {
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(100, 100, 100, .65);
}

.message > .MuiAvatar-root {
    transition: 0.3s;
}

.message > .MuiAvatar-root:hover {
    opacity: 0.8;
    cursor: pointer;
}

.MuiDialog-paper{
    border-radius: 1rem !important;
    text-align: center;
    background-color: #474b53 !important;
    color: white !important;
}

.MuiTypography-body1 {
    color: rgba(255, 255, 255, 0.85) !important;
}

.dialog__closeicon {
    display: flex;
    justify-content: flex-end;
}

.message__info > a {
    text-decoration: none;
    color: white;
}

.dialog__closeicon > button > span {
    color:rgba(235, 235, 235, 0.95);
}

.message__url {
    text-decoration: none;
    color: rgb(160, 160, 160);
    transition: 0.3s;
}

.message__url:hover {
    color: rgb(205, 205, 205);
}

.MuiDialogActions-root {
    background-color: #363a3f;
}

.MuiDialogContent-root {
    padding-bottom: 20px !important;
}

.message__delicon {
    visibility: hidden;
}

.message:hover > .message__delicon {
    visibility: visible;
}

.emoji-mart-scroll::-webkit-scrollbar {
    background-color: #31353a;
}

.emoji-mart-scroll::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: .2rem;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: .5s;
}

.emoji-mart-scroll::-webkit-scrollbar-thumb:hover {
    background-color: rgb(128, 128, 128, 0.8);
}

.search__closeicon {
    opacity: 0.5;
    transition: 0.3s;
}

.search__closeicon:hover {
    opacity: 1;
}

.chat__disabledsendbtn {
    opacity: 0.2;
    cursor: default !important;
}

.searched {
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.75);
}

.search__notfound {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    color: lightgray;
}

.search__notfound > p {
    opacity: 0.5;
    transition: 0.3s;
    cursor: pointer;
}

.search__notfound:hover > p {
    opacity: 0.8;
}
  
.file-drop > .file-drop-target.file-drop-dragging-over-target {
    color: gray;
    box-shadow: 0 0 13px 3px rgba(0,0,0,0.5);
}

.emoji-mart-anchor-selected {
    color: #4caf50 !important;
}

.emoji-mart-anchor-bar {
    background-color: #4caf50 !important;
}

.MuiDialog-container {
    backdrop-filter: brightness(75%);
}