@use './components/Theme';
@use './components/Chat/Chat';
@use './components/Loading/Loading';
@use './components/Login/Login';
@use './components/Sidebar/Sidebar';

* {
  margin: 0;
}

.app {
  display: flex;
  height: 100vh;
}

input {
  letter-spacing: 0.5px;
}

html {
  background-color: Theme.$main-background-color;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

//MUI

//DIALOG

.MuiDialog-container {
  .MuiDialog-paper {
    .MuiDialogContent-root {
      .MuiPaper-root {
        background-color: Theme.$paper-background-color !important;
        color: white !important;
        border-radius: 0.8rem;
      }
      img {
        border-radius: 0.6rem;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
        transition: 0.3s;
        max-width: 150px;
        object-fit: contain;
      }

      .userdialog__myavatar {
        width: 75px !important;
        height: 75px !important;
        box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
        font-size: 2rem !important;
        margin: auto;
        cursor: default;
      }

      img:hover {
        opacity: 0.8;
      }
    }

    .dialog__closeicon {
      display: flex;
      justify-content: flex-end;

      button {
        span {
          color: rgba(235, 235, 235, 0.95);
        }
      }
    }
  }
}

div > .MuiSvgIcon-root {
  transition: 0.3s !important;
}
div > .MuiSvgIcon-root:hover {
  color: white;
  cursor: pointer;
}

.MuiAvatar-root {
  transition: 0.3s;
}

.MuiAvatar-root:hover {
  opacity: 0.8;
  cursor: pointer;
}
